<body class="container">
    <md-content layout-padding class="messageForm" layout-align="center center">
        <form layout-align="center center">
            <md-input-container>
                <label>Guest</label>
                <md-select ng-model="mc.guestName">
                    <md-option><em></em>None</em></md-option>
                    <md-option ng-repeat="guest.id as guest.name for guest in mc.guests.list track by guest.id"
                        ng-value="guest.firstName" ng-change="getName()">
                        {{guest.firstName}} {{guest.lastName}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Hotel</label>
                <md-select ng-model="mc.hotel">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="name in mc.hotels.list" ng-value="name.company">
                        {{name.company}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="mc.getSelectedGuestData(guest)">Send message</md-button>
        </form>
    </md-content>
</body>